<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
            <a href="https://www.linkedin.com/in/constanza-panchuk-steinmann-4b61241a2/"><img src="../../../assets/linkedin.png" id="linkedinLogo"></a>
            <a href="https://github.com/ConstanzaPanchuk"><img src="../../../assets/github.png" id="githubLogo"></a>
            <a href="https://www.facebook.com/constanza.panchuksteinmann"><img src="../../../assets/facebook.png" id="facebookLogo"></a>
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>         
        </div>
    </div>
</div>

