<div class="row">
    <h2>Experiencia laboral</h2>
    <div class="col-lg-2">
      <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged"><i class="bi bi-plus-lg"></i>
          Agregar Experiencia
      </button>
  </div>
      <div class="card mb-3" *ngFor="let Experiencia of expe" id="tarjeta">
          <div class="row g-0">
          <div class="col-md-4">
              <img src="{{ Experiencia.imgE }}" class="img-fluid rounded-start" style="max-width: 250px; max-height: 250px" id="fotoExp">
          </div>
          <div class="col-md-6">
              <div class="card-body">
              <h5 class="card-title">{{ Experiencia.nombreE }}</h5>
              <p class="card-text">{{ Experiencia.descripcionE }}</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
          </div>
            <div class="col-md-1">
                  <div *ngIf="isLogged">
                      <button class="btn btn-light" routerLink="/editexp/{{ Experiencia.id }}" id="botonEditar"><i class="bi bi-pen-fill"></i>Editar</button>
                  </div>
                  <div *ngIf="isLogged">
                      <button class="btn btn-danger" (click)="delete(Experiencia.id)" id="botonBorrar"><i class="bi bi-trash3-fill"></i>Borrar</button>
                  </div>
              </div>
          </div>
      </div>


